*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #f2b430;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #361209;
    text-align: center;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

.home:hover{
    background-color:chocolate;
}

.menu_beverages:hover{
    background-color:chocolate;
}

.contact_us:hover{
    background-color:chocolate;
}

.payment:hover{
    background-color:chocolate;
}

.menu_desserts:hover{
    background-color:chocolate;
}

nav img{
    width: 20px;
}

nav ul li{
    display: inline-block;
    padding: 10px 60px;
    box-sizing: border-box;
}

nav ul li ul{
    position: absolute;
    display: none;
}

nav ul li ul li{
    display: block;
    width: 190px;
    margin-left: -60px;
    margin-top: 10px;
}

.dropdown:hover{
    background-color:chocolate ;
    width: 30px;
}

nav ul li:hover ul{
    display: block;
    background-color: chocolate;
    margin-left: -60px;
    width: 120px;
}

.content{
    padding: 20px;
    color: white;
    background-color: #240c06;
}

.content .title h2{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.content .title p{
    margin-top: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.content .Desserts .title_Desserts{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.content .Desserts img{
    width: 100px;
}

.content .Desserts{
    display: flex;
    justify-content: space-around;
}

.content .Desserts .pudding{
    display: flex;
    margin-top: 10px;
}

.content .Desserts .Cake{
    display: flex;
    margin-top: 10px;
}

.content .Desserts .Chocolate{
    display: flex;
    margin-top: 10px;
}

.content .Desserts .desc{
    display: flex;
    padding-left: 30px;
    align-items: center;
    background-color: #f2b430;
    width: 200px;
}

.content .Desserts{
    display: flex;
}

.content .Desserts .French{
    display: flex;
    margin-top: 10px;
}

.content .Desserts .Baklava{
    display: flex;
    margin-top: 10px;
}

.content .Desserts .Chocomaltine{
    display: flex;
    margin-top: 10px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #120603;
    padding: 10px;
    display: flex;
    justify-content: center;
}

@media(max-width: 800px) {
    .content{
        height: 735px;
    }
    
    .content .Desserts img{
        width: 25%;
    }

    .content .Desserts .desc{
        display: flex;
        padding-left: 30px;
        align-items: center;
        background-color: #f2b430;
        width: 50%;
        font-size: 8px;
    }

    .content .title h2{
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 20px;
    }
    .content .title p{
        margin-top: 10px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 15px;
    }
    
    .content .Desserts .title_Desserts{ 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }
}